.home-container {
    display: flex;
    gap: 30px;
    height: 100vh;
    padding: 20px 40px 0px 40px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.row-content {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column .row-content:first-child {
    flex-basis: 15%;
}

.column .row-content:last-child {
    flex-basis: 85%;
}

.cards-column {
    gap: 30px;
}

.new-division {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    flex-grow: 1;
}

.sub-row {
    flex: 1;
    display: flex;
    justify-content: center;
}

.first-sub-row {
    display: flex;
    width: 100%;
    gap: 20px;
}

.sub-column {
    width: 50%;
}

.second-sub-row {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
}